.dragger {
	height: 50%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border: 1px solid var(--gray-color);
    border-radius: 5px;
	overflow: auto;
	color:var(--gray-color);
	text-align: center;
	cursor: pointer;

	&:hover, &.dragging {
		background-color: var(--black-color);
	}

	.icon {
		width: 4rem;
		height: 4rem;
	}

	.btn {
		background-color: var(--gray-color);
		color: var(--dark-gray-bg-color);
		border: 0;
		font-weight: bold;
		padding-inline: 2rem;
	}
}

.pdf-cards {
	height: 35%;
	padding-block: 5px;
	display: flex;
	align-items: center;
	overflow-x: auto;
	gap: 5px;

	&::-webkit-scrollbar-thumb {
		background-color: var(--gray-color);
	}

	.card {
		height: 100%;
		min-width: 32%;
		font-size: .75rem;
		background-color: transparent;
		color: var(--white-color);
		background-color: var(--gray-color);
		
		& > * {
			display: flex;
			align-items: center;
			padding-inline: .5rem;
			padding-block: 3px;
		}
		
		.card-header {
			height: 20%;

			span {
				max-width: 100%;
				// font-weight: bold;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;	
			}
		}
		
		.card-body {
			height: 55%;
			align-items: baseline;
			font-size: .65rem;
			color: var(--light-gray-color);
		}

		.card-footer {
			height: 25%;
			justify-content: center;

			.rm-btn {
				height: 100%;
				font-size: .65rem;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--dark-orange-color);
				border: 0;

				&:hover {
					background-color: var(--dark-orange-color-hover);
				}
			}
		}
	}
}

.starter-btn {
	height: 10%;
	padding-inline: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .75rem;
	text-transform: uppercase;
}