/* PdfViewer.scss */

.pdf-container {
	width: 25%;
	
	.pdf-document {
		width: 100%;
		
		.pdf-page {
			--scale-factor: 0 !important;
			
			.react-pdf__Page__canvas {
				width: 100% !important;
				height: auto !important;
			}
			
			.react-pdf__Page__textContent textLayer {
				display: none;
			}
		}
	}
}